/* Footer */
footer {
    background-color: #000;
    color: rgba(255, 255, 255, 0.75);
    padding: 5rem 0;
  }
  
  a .fa-linkedin,
  a .fa-instagram,
  a .fa-github {
    color: #fff !important;
  }
  
  a:hover .fa-linkedin,
  a:hover .fa-github,
  a:hover .fa-instagram {
    color: #14b789 !important;
  }